<!DOCTYPE html>
<html lang="it">
<head>
    <title>Book Haven</title>
    <link href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <style>
        .immagine {
            max-width: 80%;
            height: auto;
        }

        .novità {
            text-align: center;
            font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 48px;
            color: #00ff84;
            text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000; 
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header">
            <nav>
            </nav>
            <h3 class="text-muted">Il miglior book store 2023</h3>
        </div>

        <div class="jumbotron">
            <h1>Book Haven</h1>
            <img class="immagine" src="../static/images/wallp.jpg">
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Iscriviti Ora!</a>
            </p>
        </div>

        <div class="row marketing">
            <h1 class="novità">Ultime Novità 2023!!<br><br></h1>
            <div class="col-lg-6">
                <h4><b>Siamo noi l’inizio di tutto di Colleen Hoover</b></h4>
                <img src="../static/images/libro1.jpg">
                <p>Si può ricominciare dopo aver sofferto tanto? Nonostante le mille difficoltà e l’immenso dolore patito,
                   Lily è riuscita a rimettersi in piedi e a stabilire un rapporto equilibrato con Ryle, il suo ex marito.</p>
                
                <h4><b>Spare di Prince Harry</b></h4>
                <img src="../static/images/libro2.jpg">
                <p>È un’immagine che milioni di persone in tutto il mondo hanno ancora davanti agli occhi. 
                    Due ragazzini. Due principi, che seguono il feretro della madre Diana, Principessa di Galles, sotto gli occhi del mondo 
                    addolorato e incredulo. Cosa avranno provato i due ragazzi in quel momento? </p>
                
                <h4><b>Never never di Colleen Hoover e Tarryn Fisher</b></h4>
                <img src="../static/images/libro3.jpg">
                <p>Dimenticare è terribile, ma se ricordare lo fosse persino di più? È la domanda che si pongono 
                    Charlie Wynwood e Silas Nash man mano che rimettono insieme i pezzi della loro storia. Migliori amici 
                    sin da piccoli, innamorati dalla tenera età di 14 anni, quando di anni ne hanno 17, un giorno, al risveglio 
                    si ritrovano estranei.</p>

            </div>

            <div class="col-lg-6">
                <h4><b>Fame d'aria di Daniele Mencarelli</b></h4>
                <img src="../static/images/libro4.jpg">
                <p>Pietro Borzacchi e il figlio Jacopo stanno attraversando colline di pietra bianca, tornanti e paesi 
                    arroccati con la loro vecchia Golf quando questa decide di abbandonarli in mezzo al nulla, di venerdì pomeriggio. 
                    Per fortuna un meccanico alla guida del suo carro attrezzi si ferma per aiutarli e li accompagna a Sant'Anna del Sannio, 
                    un bellissimo paese da poche centinaia di anime.</p>
                
                
                <h4><b>Oscura e celeste di Marco Malvaldi</b></h4>
                <img src="../static/images/libro5.jpg">
                <p>Marco Malvaldi ritorna al romanzo storico con un protagonista d'eccezione. 1631 Mentre l'Europa è in guerra,
                    le risorse scarseggiano ed è in corso una pandemia, a Firenze il Granduca cerca di limitare i 
                    contagi e Galileo Galilei, filosofo naturale, riesce a far stampare il suo libro sfuggendo ai serrati
                    controlli dell'Inquisizione.</p>
                
                
                <h4><b>Il re del gelato di Cristina Cassar Scalia</b></h4>
                <img src="../static/images/libro6.jpg">
                <p>«Prima di "Sabbia nera" Vanina era a Catania già da un anno e aveva risolto altri casi. Ho pensato
                     di raccontarvene uno» (Cristina Cassar Scalia). Giunta da poco a Catania, Vanina sta familiarizzando 
                     con la città quando si trova ad affrontare un caso delicato, che inizia con delle pillole dentro a delle 
                     vaschette di gelato e sfocia in un omicidio.</p>
            </div>

        </div>
        <footer class="footer">
            <p>&copy; Book Haven S.R.L 2015</p>
        </footer>
    </div>
</body>
</html>